body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #333;
}

header {
  background: linear-gradient(90deg, #de1a1a, #00aaff);
  color: rgb(252, 252, 253);
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 10px 0 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #bc1911;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

article {
  flex: 3;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

aside {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

aside img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0;
}

.card {
  flex: 1;
  min-width: 250px;
  background: #efe4e4;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(198, 202, 195, 0.966);
  transition: transform 0.3s;
}

.activities {
  list-style: square;
  padding-left: 25px;
  line-height: 1.8;
}

.card:hover {
  transform: scale(1.05);

footer {
  background: #1eb1d6;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer a {
  color: #f50505;
  text-decoration: none;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
